/* Reset default browser styles */
html, body, div, h1, h2, form, select, button, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f0f0f0;
}

/* Center the .box vertically and horizontally */
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure the box covers the entire viewport height */
}

/* Styles for the .container remain the same */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* Full height within the .box */
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form {
  margin-top: 20px;
}

.form-select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-submit {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-submit:hover {
  background-color: #0056b3;
}

.cards {
  margin-top: 20px;
  text-align: left;
}

.card-item {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.card-activity {
  font-size: 16px;
  line-height: 1.5;
}

.api-url {
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.tag-error {
  background-color: #ff6347;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}
.typewriter {
  font-size: 24px;
  margin-bottom: 20px;
  overflow: hidden; /* Hide overflow text */
  white-space: nowrap; /* Prevent text from wrapping */
  animation: typing 8s steps(60, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
}